.root {
  background: rgba(105, 105, 105, 1);
  background: linear-gradient(
    to right,
    rgba(105, 105, 105, 1) 0%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 85%,
    rgba(105, 105, 105, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#696969', GradientType=1 );
  padding-top: 2em;
  padding-bottom: 2em;
}

.image {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  display: block;
  vertical-align: middle;
}

.height {
  height: 400px;
}
