.root {
  background: rgba(105, 105, 105, 1);
  background: linear-gradient(
    to right,
    rgba(105, 105, 105, 1) 0%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 85%,
    rgba(105, 105, 105, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#696969', GradientType=1 );
  margin-top: 2em;
  margin-bottom: 2em;
}

.image {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 350px;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: #000;
}
