{% extends "base.html" %}
{% set active_page = "contact" %}

{% block title %}
  GScom - Contact Us
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="https://www.google.com/maps/place/5670+Wilshire+Blvd+%231800,+Los+Angeles,+CA+90036/@34.0619489,-118.3543651,17z/data=!3m1!4b1!4m2!3m1!1s0x80c2b92203c483bd:0x246d4fc627599e84" target="_blank"><img class="img-responsive" src="../static/images/gscom_map.png"></a>
        <p>Click image to open in Google Maps</p>
      </div><!-- / col-md-6 -->
      <div class="col-md-6">
        <address>
          <strong>GScom, Corp.</strong><br>
          5670 Wilshire Blvd., Suite 1800<br>
          Los Angeles, CA 90036<br>
          <div class="hidden_mobile">
          <abbr title="Phone">P: </abbr>858-776-0290</div>
          <div class="hidden_desktop">
          <a href="tel:18587760290"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 858.776.0290</a></div>
        </address>

        <address>
          <strong>Email</strong><br>
          <a href="mailto:#">schung@gs-communication.com</a>
        </address>
      </div><!-- / col-md-6 -->
    </div><!-- / row -->
  </div><!-- end container -->
{% endblock %}
